.placeItem {
  width: 30%;
  position: relative;
  text-align: center;
}
.userBox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.imgBox {
  width: 5rem;
  height: 5rem;

  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
}

.imgBox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.actions {
  margin-top: 2rem;
}

.placeBox img {
  width: 100%;
}
