.page {
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
  display: flex;
}

.placesContainer {
  flex: 2;
  padding: 2rem 8rem;
  overflow: scroll;
}

.noFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 30px;
}
